<ion-view title="Detalhe do Lanche Colega" id="page13" cache-view="false">
    <ion-content overflow-scroll="true" padding="true">
        <h3 id="detalheDoLancheColega-heading4" style="text-align:center" class="bar bar-header bar-royal">Detalhe</h3>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <div style="text-align:center;">
            <img ng-src="data:image/jpeg;base64,{{lancheColega.imagem}}" height="390px" height="auto">
        </div>
        <div id="detalheDoLancheColega-markdown1" style="color:#000000;">
            <p>
                {{lancheColega.descricao}}
            </p>
        </div>
        <div class="spacer" style="width: 300px; height: 66px;"></div>
        <a ui-sref="tirarFotoDoLanche" id="detalheDoLancheColega-button13" style="font-weight:bold;color:#C20E15;" class="button button-light  button-block button-outline icon ion-android-camera">Compartilhar meu Lanche</a>
    </ion-content>
</ion-view>
