<ion-view title="Detalhe do meu Lanche" id="page14">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 id="detalheDoMeuLanche-heading5" style="color:#000000;">Detalhe do meu lanche</h3>
        <div style="text-align:center;">
            <img src="img/kt5p1d5SSDi3zP4ZDubX_lanche criança.jpg" width="100%" height="auto">
        </div>
        <div id="detalheDoMeuLanche-markdown2" style="color:#000000;">
            <p>
                <strong>Aqui tem Suco de laranja, Maçã, Sanduiche, Cenouras e CHOCOLATE. :D Foi feito com amor e carinho. Espero que gostem porque estava delicioso.</strong>
            </p>
        </div>
        <div class="spacer" style="width: 300px; height: 66px;"></div>
        <div class="button-bar">
            <a ui-sref="tirarFotoDoLanche" id="detalheDoMeuLanche-button15" style="font-weight:bold;color:#C20E15;font-size:-1px;" class="button button-light  button-block button-outline icon ion-android-camera"></a>
            <a ui-sref="listagem" id="detalheDoMeuLanche-button16" style="font-weight:bold;color:#C20E15;font-size:-1px;" class="button button-light button-large button-block button-outline icon ion-ios-list-outline"></a>
        </div>
    </ion-content>
</ion-view>