<ion-view title="Entrar" id="page4">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/NdqONZzOR9mi2mQB65Aw_chapeuzinho_vermelhor.jpg) no-repeat center;" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <div>
            <font size="-1" face="Verdana">
                <center style="color:#111010">
                    <b>
                        <p>DÊ PREFERÊNCIA A FRUTAS E ALIMENTOS NATURAIS</p>

                        <p>EVITE INDUSTRIALIZADOS</p>
                    </b>
                </center>
            </font>
        </div>
        <div class="spacer" style="width: 300px; height: 290px;"></div>
        <a ui-sref="listagem" id="entrar-button3" style="font-weight:bold;color:#C20E15;font-size:-1px;border-radius:0px 0px 0px 0px;" class="button button-light button-large button-block button-outline">Entrar</a>
    </ion-content>
</ion-view>
