<ion-view title="Listagem" id="page10">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 id="listagem-heading3" style="color:#000000;">Últimos lanches:</h3>
        <ion-list>
            <ion-item ng-repeat="lanche in lanches" class="item-thumbnail-left" ui-sref="detalheDoLancheColega" >
                <img src="img/Y03YX86lRzizT02vJlsC_lanche criança.jpg">
                <h2></h2>
                <p>
                  {{lanche.descricao}}
                  <ion-option-button class="button-royal" ng-click="purchaseItem(lanche)"> <!-- Como eliminar isso? -->
                    <i class="icon ion-checkmark"></i>
                  </ion-option-button>
                </p>
            </ion-item>
        </ion-list>
          <a ui-sref="tirarFotoDoLanche" id="listagem-button9" style="font-weight:bold;color:#C20E15;font-size:-1px;" class="button button-light  button-block button-outline icon ion-android-camera" ng-click="upload()">Compartilhe seu lanche
          </a>
    </ion-content>
</ion-view>
