<ion-view title="Tirar Foto do Lanche" id="page6" cache-view="false">
    <ion-content overflow-scroll="true" padding="true">
        <h3 id="tirarFotoDoLanche-heading1" style="text-align:center" class="bar bar-header bar-royal">Meu lanche</h3>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <div style="text-align:center">
          <img ng-src="data:image/jpeg;base64,{{imagem}}" width="300" height="auto"/>
        </div>
        <button style="font-weight:bold;color:#C20E15;font-size:-1px;" class="button button-outline button-positive" ng-click="tirarFotoLancheButton()">Clique aqui para trocar sua foto</button>
        <h3 id="tirarFotoDoLanche-heading2" style="color:#000000;">Descrição:</h3>
        <form class="list">
          <label class="item item-input">
            <input type="text" name="descricao" placeholder="Descrição do lanche aqui..." ng-model="lanche.descricao">
          </label>
        </form>
        <a ui-sref="detalheDoMeuLanche" id="tirarFotoDoLanche-button8" style="font-weight:bold;color:#C20E15;font-size:-1px;" class="button button-light button-large button-block button-outline icon ion-android-share-alt" ng-click="addItem(lanche)">Compartilhar Lanche</a>
    </ion-content>
</ion-view>
