<ion-view title="Tirar Foto do Lanche" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 id="tirarFotoDoLanche-heading1" style="color:#000000;">Seu lanche</h3>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h3 id="tirarFotoDoLanche-heading2" style="color:#000000;">Descrição:</h3>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Descrição do lanche aqui...">
            </label>
        </form>
        <a ui-sref="detalheDoMeuLanche" id="tirarFotoDoLanche-button8" style="font-weight:bold;color:#C20E15;font-size:-1px;" class="button button-light button-large button-block button-outline icon ion-android-share-alt">Compartilhar Lanche</a>
    </ion-content>
</ion-view>